.title {
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 5px;
}

.searchContact {
  border-radius: 5px;
  width: 400px;
  height: 30px;
  border: 2px solid;
}

.searchContact:hover,
.searchContact:focus {
  border-color: blue;
}
